body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* Starting Header Section */
.header-section{
  display: flex;
  height: 60px;
  background: #000;
  color: #fff;
}
.logo-area{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-area h2{
  font-weight: bold;
  font-size: 30px;
}
.logo-area span{
  color: #FD4E2F;
}
.menu-area {
  width: 70%;
}
.menu-area ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu-area ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 0 40px;;
}
/* Starting Hero Section */
.hero-section {
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: space-around;
}
.container {
  width: 50%;
}
#content {
  margin-left: 50px;
  padding: 100px;
}
#content span {
  color: orange;
}
#content h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 800;
  color: #1b1b1bce;
}
#content p {
  font-size: 20px;
}
.btn {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  background-image: linear-gradient(45deg, orange, rgb(235, 61, 61));
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
}
.container img {
  margin-top: 50px;
  width: 80%;
}
/* Ending Hero Section */

/* Starting About us Section */
.about-section {
  margin-top: 70px;
  display: flex;
  min-height: 600px;
  align-items: center;
  background-image: url(../img/background-bannar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-evenly;
}
.about-section .right-content {
  margin-right: 70px;
  width: 600px;
}
.right-content h2 {
  font-size: 40px;
  color: #1b1b1bce;
}
.about-section img {
  width: 40%;
  margin-left: 200px;
}
/* Ending Hero Section */

/* Starting Recipies Section */
.recipies-section {
  margin-top: 70px;
  margin-bottom: 100px;
}
.recipie-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.recipie-content h2 {
  font-size: 30px;
  color: #1b1b1bce;
  font-weight: bold;
}
.food-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.food-items .repices {
  width: 400px;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px gray;
  padding: 20px 20px;
}
.food-items .repices h3 {
  font-weight: 800;
}
.food-items .repices img {
  width: 100%;
  border-radius: 30px;
}
/* Ending Recipies Section */

/* Starting Followers Section */
.followers-section {
  width: 80%;
  margin: auto;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 20px 40px;
  box-shadow: 0px 0px 40px gray;
  border-radius: 20px;
}
.followers-section .followers {
  width: 300px;
}
.followers-section .followers h1 {
  font-size: 50px;
}
/* Ending Followers Section */

/* Starting Testimonial Section */
.testimonial-section {
  min-height: 500px;
  background: rgb(194, 205, 209);
  padding: 50px;
}

.reviews-section {
  display: flex;
  justify-content: space-around;
}
.testimonial-section h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 50px 0px;
}
.reviews-section .reviews {
  width: 600px;
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #333;
}
.reviews-section .reviews h3,
.customer {
  text-align: right;
  font-weight: bold;
}
/* Ending Testimonial Section */

/* Starting Contact Form Section */
.contact-form-section {
  min-height: 700px;
  background: #fafafa;
  padding: 30px;
}
.contact-form-section h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
.contact-form {
  max-width: 600px;
  margin: auto;
}
.form-items {
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
}
/* Ending Contact Form Section */

/* Starting Testimonial Section */
footer {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 30px 0;
}
footer h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #726f6f;
}
footer span {
  color: orange;
}
footer p {
  margin: 0;
}
/* Ending Footer Section */

/* Starting Copyright Section */
.copyright-section {
  background-image: linear-gradient(45deg, orange, rgb(235, 61, 61));
  margin: 0;
}
.copyright-section p {
  margin: 0;
  text-align: center;
  color: black;
  font-weight: bold;
}
/* Ending Copyright Section */

/* Designed by Mostafizur Rahman Limon */
