body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.hero-section{
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: space-around;
}

.container{
  width: 50%;
}
#content{
  margin-left: 50px;
  padding: 100px;
}
#content span{
  color: orange;
}
#content h1{
  font-size: 50px;
  margin:0;
  font-weight: 800;
  color: #1b1b1bce;
}
#content p{
  /* margin-left: 20px; */
  font-size: 20px;
}
.btn{
  text-decoration: none;
  /* margin-left: 20px; */
  display: inline-block;
  margin-top: 20px;
  background-image: linear-gradient(45deg,orange,rgb(235, 61, 61));
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
}
.container img{
  margin-top: 50px;
  width: 80%;
}


.about-section{
  margin-top: 70px;
  display: flex;
  height: 600px;
  align-items: center;
  background-image: url(../img/background-bannar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-evenly;
}
.about-section .right-content{
  margin-right: 70px;
  width:600px;
}
.right-content h2{
  font-size: 40px;
  color: #1b1b1bce;
}
.about-section img{
  width: 40%;
  margin-left: 200px;
}


.recipies-section{
  margin-top: 70px;
  margin-bottom: 100px;
}
.recipie-content{
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.recipie-content h2{
  font-size: 30px;
  color: #1b1b1bce;;
  font-weight: bold;
}

.food-items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.food-items .repices{
  width: 400px;
  margin-top: 40px;
  /* border: 1px solid black; */
  border-radius: 30px;
  box-shadow: 0px 0px 40px gray;
  padding: 20px 20px;
}
.food-items .repices h3{
  font-weight: 800;
}
.food-items .repices img{
  width: 100%;
  border-radius: 30px;
}

.followers-section{
  width: 80%;
  margin: auto;
  margin-top: 180px;
  display: flex;
  justify-content: center;
  background: #fff;
  /* border: 1px solid black; */
  padding: 20px 40px;
  box-shadow: 0px 0px 40px gray;
  border-radius: 20px;
}
.followers-section .followers{
  width: 300px;
  /* margin-left: 30px; */

}

.followers-section .followers h1{
  font-size: 50px;

}