body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.hero-section{
  display: flex;
  min-height: 600px;
  align-items: center;
  justify-content: space-around;
}

.hero-section .container{
  width: 50%;
}
#content{
  margin-left: 50px;
  padding: 100px;
}
#content span{
  color: orange;
}
#content h1{
  font-size: 50px;
  margin:0;
  font-weight: 800;
  color: #1b1b1bce;
}
#content p{
  /* margin-left: 20px; */
  font-size: 20px;
}
.btn{
  text-decoration: none;
  /* margin-left: 20px; */
  display: inline-block;
  margin-top: 20px;
  background-image: linear-gradient(45deg,orange,rgb(235, 61, 61));
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 700;
}
.container img{
  margin-top: 50px;
  width: 80%;
}